@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IN:wght@100..400&family=Smooch+Sans:wght@100..900&display=swap');
*{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    background-color: rgb(128, 21, 21);
    color: aliceblue;

}
.description1,.description2,.price,#title{
    width:20rem;
    background-color: rgb(255, 253, 250);
    color: rgb(128, 21, 21);

}
nav{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    background-color: grey;
    padding: 1rem;
    border-radius: 0px 20px 0px 20px;

}
.nav{
    
    background-color: grey;
    padding: 1rem;
}
button, button:hover{
    height: 3rem;
    width: 5rem;
    align-self: center;
    border-radius: 10px;
    margin-left: 1rem;
    cursor: pointer;
}
#search{
    height: 3rem;
    align-self: center;
    text-align: center;
    width: 12rem;
    margin: 0;
    border-radius: 10px;
    color: rgb(207, 202, 193);
    border-radius: 0px 20px 0px 20px;

}
.menuItems{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: grey;
    
}

#menuItems{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: grey;
    
}

.h1{
    padding: 1rem;
}

#logo{
    border-radius: 0px 20px 0px 20px;
}

#all-items{
    display: flex;
    flex-wrap: wrap;
    padding: 1.3rem;
}

.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40rem;
    margin: 1rem;
    padding: 1rem;
    color: rgb(128, 21, 21);
    flex-wrap: wrap;
    background-color: rgb(255, 253, 250);
    border-radius: 10px;
}
svg{
    margin-right: 1rem;
    color: rgb(128, 21, 21);

}
svg:hover{
    cursor: pointer;
}
#title, .price,#sign-up,a{
    font-weight: bolder;
    text-decoration: none;
}

img{
    width: 10rem;
    height: 8rem fit-content;
    border-radius: 10px;
    /* padding: 0.1rem;  */
}

#error{
    padding: 3rem;
    font-size: 3rem;
    font-weight: 50;
}
img:hover{
transition: 0.3s;
transform: scale(1.04);
background-color: rgb(128, 21, 21); ;
}


#all-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
select{
    padding: 1rem;
    padding-right: 0.7rem;
    margin-left: 2rem;
    border-radius: 0px 10px 0px 10px;
}
.category{
    color: rgb(207, 202, 193);
    font-size: 0.1px;
}

